{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>
    <div class="vcard">
        <address class="adr">
            <span class="fn">Fabian Ziebig</span><br/>
            <span class="street-address">Gleimstraße 50</span><br/>
            <span class="postal-code">10437</span>
            <span class="locality">Berlin</span><br/>
            <span class="country-name">Deutschland</span>
        </address>
        Tel: <span class="tel">+49 160 79 35 890</span><br/>
        E-Mail: <a class="email" href="mailto:ziebig@bigmind.de">ziebig@bigmind.de</a><br/>
        Web: <a class="url" target="_blank" href="https://www.bigmind.de">www.bigmind.de</a>
    </div>
{% endblock %}